.elementor-11235 .elementor-element.elementor-element-ba69030 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-11235 .elementor-element.elementor-element-ba69030{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-6%;margin-bottom:0%;}.elementor-11235 .elementor-element.elementor-element-ba69030 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11235 .elementor-element.elementor-element-31ffe30 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-11235 .elementor-element.elementor-element-31ffe30{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-6%;margin-bottom:0%;}.elementor-11235 .elementor-element.elementor-element-31ffe30 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11235 .elementor-element.elementor-element-2d03aef > .elementor-container{min-height:82vh;}.elementor-11235 .elementor-element.elementor-element-2d03aef > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-end;align-items:flex-end;}.elementor-11235 .elementor-element.elementor-element-2d03aef{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-11235 .elementor-element.elementor-element-2d03aef > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11235 .elementor-element.elementor-element-0472cda.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-11235 .elementor-element.elementor-element-0472cda > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-11235 .elementor-element.elementor-element-0472cda > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11235 .elementor-element.elementor-element-15f41a7{margin-top:0%;margin-bottom:0%;padding:0% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-74c54e4 .elementor-icon-wrapper{text-align:center;}.elementor-11235 .elementor-element.elementor-element-74c54e4.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-11235 .elementor-element.elementor-element-74c54e4.elementor-view-framed .elementor-icon, .elementor-11235 .elementor-element.elementor-element-74c54e4.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-11235 .elementor-element.elementor-element-74c54e4.elementor-view-framed .elementor-icon, .elementor-11235 .elementor-element.elementor-element-74c54e4.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-11235 .elementor-element.elementor-element-74c54e4 .elementor-icon{font-size:80px;}.elementor-11235 .elementor-element.elementor-element-74c54e4 .elementor-icon i, .elementor-11235 .elementor-element.elementor-element-74c54e4 .elementor-icon svg{transform:rotate(0deg);}.elementor-11235 .elementor-element.elementor-element-74c54e4 > .elementor-widget-container{margin:0px 0px 0px -22px;}.elementor-11235 .elementor-element.elementor-element-697d6b9 .elementor-icon-wrapper{text-align:center;}.elementor-11235 .elementor-element.elementor-element-697d6b9.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-11235 .elementor-element.elementor-element-697d6b9.elementor-view-framed .elementor-icon, .elementor-11235 .elementor-element.elementor-element-697d6b9.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-11235 .elementor-element.elementor-element-697d6b9.elementor-view-framed .elementor-icon, .elementor-11235 .elementor-element.elementor-element-697d6b9.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-11235 .elementor-element.elementor-element-697d6b9 .elementor-icon{font-size:80px;}.elementor-11235 .elementor-element.elementor-element-697d6b9 .elementor-icon i, .elementor-11235 .elementor-element.elementor-element-697d6b9 .elementor-icon svg{transform:rotate(0deg);}.elementor-11235 .elementor-element.elementor-element-697d6b9 > .elementor-widget-container{margin:0px 0px 0px -22px;}.elementor-11235 .elementor-element.elementor-element-0657b24 > .elementor-background-overlay{background-color:transparent;background-image:linear-gradient(180deg, #090D1100 0%, #090D11EE 100%);opacity:1;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11235 .elementor-element.elementor-element-0657b24{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-11235 .elementor-element.elementor-element-18b58b1{--spacer-size:40vh;}.elementor-11235 .elementor-element.elementor-element-e49dbff{--spacer-size:50px;}.elementor-11235 .elementor-element.elementor-element-9257bf1 > .elementor-background-overlay{background-color:#090D11EE;opacity:1;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11235 .elementor-element.elementor-element-9257bf1{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:7% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-b1b0d0c:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-11235 .elementor-element.elementor-element-b1b0d0c > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, #00000000 0%, #000000 100%);}.elementor-11235 .elementor-element.elementor-element-b1b0d0c > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-11235 .elementor-element.elementor-element-b1b0d0c > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11235 .elementor-element.elementor-element-6948f53{padding:0% 0% 4% 0%;}.elementor-11235 .elementor-element.elementor-element-a8cd40a > .elementor-widget-container{margin:0% 0% -5% 0%;}.elementor-11235 .elementor-element.elementor-element-6dedcbc img{width:80%;}.elementor-11235 .elementor-element.elementor-element-6dedcbc > .elementor-widget-container{padding:0% 0% 2% 0%;}.elementor-11235 .elementor-element.elementor-element-124b060{text-align:center;color:#FFFFFF;font-family:"Inconsolata", Sans-serif;font-size:50px;font-weight:400;z-index:10;}.elementor-11235 .elementor-element.elementor-element-f3e42e2 img{width:78%;}.elementor-11235 .elementor-element.elementor-element-f3e42e2 > .elementor-widget-container{padding:0% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-0adc47d{text-align:center;color:#FFFFFF;font-family:"Inconsolata", Sans-serif;font-size:50px;font-weight:400;z-index:10;}.elementor-11235 .elementor-element.elementor-element-4b56894 img{width:80%;}.elementor-11235 .elementor-element.elementor-element-4b56894 > .elementor-widget-container{padding:2% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-0d4561c{margin-top:-3%;margin-bottom:0%;padding:0% 0% 4% 0%;}.elementor-11235 .elementor-element.elementor-element-fef2754{text-align:left;color:#FFFFFF;font-family:"Inconsolata", Sans-serif;font-size:28px;font-weight:300;letter-spacing:-2px;z-index:10;}.elementor-11235 .elementor-element.elementor-element-fef2754 > .elementor-widget-container{padding:0% 0% 0% 10%;}.elementor-11235 .elementor-element.elementor-element-322c201 img{width:80%;}.elementor-11235 .elementor-element.elementor-element-322c201 > .elementor-widget-container{padding:5% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-a0a17cd{margin-top:-3%;margin-bottom:0%;padding:0% 0% 4% 0%;}.elementor-11235 .elementor-element.elementor-element-7e0ed0b{text-align:center;color:#FFFFFF;font-family:"Inconsolata", Sans-serif;font-size:30px;font-weight:400;letter-spacing:-2px;z-index:10;}.elementor-bc-flex-widget .elementor-11235 .elementor-element.elementor-element-eeb13d0.elementor-column .elementor-widget-wrap{align-items:flex-end;}.elementor-11235 .elementor-element.elementor-element-eeb13d0.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-end;align-items:flex-end;}.elementor-11235 .elementor-element.elementor-element-eeb13d0:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-11235 .elementor-element.elementor-element-eeb13d0 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://web.archive.org/web/20221030075623im_/https://ggpoker.de/wp-content/uploads/2022/10/boxbg_flip.jpg");background-position:center left;background-repeat:repeat;}.elementor-11235 .elementor-element.elementor-element-eeb13d0 > .elementor-element-populated >  .elementor-background-overlay{background-color:transparent;background-image:linear-gradient(180deg, #020101 0%, #232E12 100%);opacity:0.4;}.elementor-11235 .elementor-element.elementor-element-eeb13d0 > .elementor-element-populated{border-style:solid;border-color:#232E12;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:10px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;}.elementor-11235 .elementor-element.elementor-element-eeb13d0 > .elementor-element-populated, .elementor-11235 .elementor-element.elementor-element-eeb13d0 > .elementor-element-populated > .elementor-background-overlay, .elementor-11235 .elementor-element.elementor-element-eeb13d0 > .elementor-background-slideshow{border-radius:20px 20px 20px 20px;}.elementor-11235 .elementor-element.elementor-element-eeb13d0 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11235 .elementor-element.elementor-element-5225c95{text-align:center;z-index:10;}.elementor-11235 .elementor-element.elementor-element-5225c95 .elementor-heading-title{color:#FFFFFF;font-family:"Inconsolata", Sans-serif;font-size:40px;font-weight:400;}.elementor-11235 .elementor-element.elementor-element-3ab3830{text-align:center;}.elementor-11235 .elementor-element.elementor-element-3ab3830 img{width:80%;}.elementor-11235 .elementor-element.elementor-element-3ab3830 > .elementor-widget-container{padding:3% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-89deebc{text-align:center;color:#FFFFFF;font-family:"Inconsolata", Sans-serif;font-size:23px;font-weight:400;letter-spacing:-1.4px;z-index:10;}.elementor-bc-flex-widget .elementor-11235 .elementor-element.elementor-element-8914467.elementor-column .elementor-widget-wrap{align-items:flex-end;}.elementor-11235 .elementor-element.elementor-element-8914467.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-end;align-items:flex-end;}.elementor-11235 .elementor-element.elementor-element-8914467:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-11235 .elementor-element.elementor-element-8914467 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://web.archive.org/web/20221030075623im_/https://ggpoker.de/wp-content/uploads/2022/10/boxbg_flip.jpg");background-position:center center;background-repeat:repeat;}.elementor-11235 .elementor-element.elementor-element-8914467 > .elementor-element-populated >  .elementor-background-overlay{background-color:transparent;background-image:linear-gradient(180deg, #020101 0%, #232E12 100%);opacity:0.4;}.elementor-11235 .elementor-element.elementor-element-8914467 > .elementor-element-populated{border-style:solid;border-color:#232E12;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:10px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;}.elementor-11235 .elementor-element.elementor-element-8914467 > .elementor-element-populated, .elementor-11235 .elementor-element.elementor-element-8914467 > .elementor-element-populated > .elementor-background-overlay, .elementor-11235 .elementor-element.elementor-element-8914467 > .elementor-background-slideshow{border-radius:20px 20px 20px 20px;}.elementor-11235 .elementor-element.elementor-element-8914467 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11235 .elementor-element.elementor-element-ce7ebb9{text-align:center;z-index:10;}.elementor-11235 .elementor-element.elementor-element-ce7ebb9 .elementor-heading-title{color:#FFFFFF;font-family:"Inconsolata", Sans-serif;font-size:40px;font-weight:400;}.elementor-11235 .elementor-element.elementor-element-852f738{text-align:center;}.elementor-11235 .elementor-element.elementor-element-852f738 img{width:80%;}.elementor-11235 .elementor-element.elementor-element-852f738 > .elementor-widget-container{padding:3% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-73069c7{text-align:center;color:#FFFFFF;font-family:"Inconsolata", Sans-serif;font-size:23px;font-weight:400;letter-spacing:-1.4px;z-index:10;}.elementor-bc-flex-widget .elementor-11235 .elementor-element.elementor-element-cf70a47.elementor-column .elementor-widget-wrap{align-items:flex-end;}.elementor-11235 .elementor-element.elementor-element-cf70a47.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-end;align-items:flex-end;}.elementor-11235 .elementor-element.elementor-element-cf70a47:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-11235 .elementor-element.elementor-element-cf70a47 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://web.archive.org/web/20221030075623im_/https://ggpoker.de/wp-content/uploads/2022/10/boxbg_flip.jpg");background-position:center right;background-repeat:repeat;}.elementor-11235 .elementor-element.elementor-element-cf70a47 > .elementor-element-populated >  .elementor-background-overlay{background-color:transparent;background-image:linear-gradient(180deg, #020101 0%, #232E12 100%);opacity:0.4;}.elementor-11235 .elementor-element.elementor-element-cf70a47 > .elementor-element-populated{border-style:solid;border-color:#232E12;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:10px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;}.elementor-11235 .elementor-element.elementor-element-cf70a47 > .elementor-element-populated, .elementor-11235 .elementor-element.elementor-element-cf70a47 > .elementor-element-populated > .elementor-background-overlay, .elementor-11235 .elementor-element.elementor-element-cf70a47 > .elementor-background-slideshow{border-radius:20px 20px 20px 20px;}.elementor-11235 .elementor-element.elementor-element-cf70a47 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11235 .elementor-element.elementor-element-1767315{text-align:center;z-index:10;}.elementor-11235 .elementor-element.elementor-element-1767315 .elementor-heading-title{color:#FFFFFF;font-family:"Inconsolata", Sans-serif;font-size:40px;font-weight:400;}.elementor-11235 .elementor-element.elementor-element-e7bb727{text-align:center;}.elementor-11235 .elementor-element.elementor-element-e7bb727 img{width:80%;}.elementor-11235 .elementor-element.elementor-element-e7bb727 > .elementor-widget-container{padding:3% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-bde8569{text-align:center;color:#FFFFFF;font-family:"Inconsolata", Sans-serif;font-size:23px;font-weight:400;letter-spacing:-1.4px;z-index:10;}.elementor-11235 .elementor-element.elementor-element-e3715d7{text-align:center;color:#FFFFFF;font-family:"Inconsolata", Sans-serif;font-size:30px;font-weight:400;letter-spacing:-2px;z-index:10;}.elementor-11235 .elementor-element.elementor-element-e3715d7 > .elementor-widget-container{padding:4% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-f174d15 img{width:80%;}.elementor-11235 .elementor-element.elementor-element-f174d15 > .elementor-widget-container{padding:5% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-90f84eb{margin-top:-4%;margin-bottom:0%;padding:0% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-d2beb38 img{width:75%;}.elementor-11235 .elementor-element.elementor-element-f1a8699{text-align:center;color:#FFFFFF;font-family:"Inconsolata", Sans-serif;font-size:40px;font-weight:400;z-index:10;}.elementor-11235 .elementor-element.elementor-element-f1a8699 > .elementor-widget-container{padding:5% 0% 6% 0%;}.elementor-11235 .elementor-element.elementor-element-9359522:not(.elementor-motion-effects-element-type-background), .elementor-11235 .elementor-element.elementor-element-9359522 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#0E0E0E;}.elementor-11235 .elementor-element.elementor-element-9359522{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-11235 .elementor-element.elementor-element-9359522 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11235 .elementor-element.elementor-element-c23642e > .elementor-element-populated{margin:40px 0px 40px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-11235 .elementor-element.elementor-element-41e9b24 > .elementor-container{max-width:875px;}.elementor-11235 .elementor-element.elementor-element-1f48f98 .elementor-heading-title{color:#777777;font-family:"Roboto", Sans-serif;font-size:1.2rem;font-weight:400;}.elementor-11235 .elementor-element.elementor-element-b8b47c7 .elementor-heading-title{color:#777777;font-family:"Roboto", Sans-serif;font-size:0.9rem;font-weight:400;font-style:normal;line-height:21px;}.elementor-11235 .elementor-element.elementor-element-8e0f705 .elementor-heading-title{color:#FFFFFF77;font-family:"Roboto", Sans-serif;font-size:1.2rem;font-weight:400;}@media(max-width:1024px){.elementor-11235 .elementor-element.elementor-element-124b060{font-size:40px;}.elementor-11235 .elementor-element.elementor-element-f3e42e2 img{width:78%;}.elementor-11235 .elementor-element.elementor-element-0adc47d{font-size:40px;}.elementor-11235 .elementor-element.elementor-element-fef2754{font-size:21px;}.elementor-11235 .elementor-element.elementor-element-7e0ed0b{font-size:22px;}.elementor-11235 .elementor-element.elementor-element-5225c95 .elementor-heading-title{font-size:35px;}.elementor-11235 .elementor-element.elementor-element-3ab3830 img{width:80%;}.elementor-11235 .elementor-element.elementor-element-89deebc{font-size:16px;}.elementor-11235 .elementor-element.elementor-element-ce7ebb9 .elementor-heading-title{font-size:35px;}.elementor-11235 .elementor-element.elementor-element-73069c7{font-size:16px;}.elementor-11235 .elementor-element.elementor-element-1767315 .elementor-heading-title{font-size:35px;}.elementor-11235 .elementor-element.elementor-element-bde8569{font-size:16px;}.elementor-11235 .elementor-element.elementor-element-e3715d7{font-size:26px;}.elementor-11235 .elementor-element.elementor-element-d2beb38 img{width:100%;}.elementor-11235 .elementor-element.elementor-element-f1a8699{font-size:30px;}.elementor-11235 .elementor-element.elementor-element-b8b47c7 .elementor-heading-title{font-size:12px;}}@media(max-width:767px){.elementor-11235 .elementor-element.elementor-element-2d03aef > .elementor-container{min-height:70vh;}.elementor-11235 .elementor-element.elementor-element-2d03aef{padding:0% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-15f41a7{margin-top:0%;margin-bottom:0%;padding:0% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-74c54e4 .elementor-icon{font-size:73px;}.elementor-11235 .elementor-element.elementor-element-74c54e4 > .elementor-widget-container{margin:0px 0px 40px -22px;}.elementor-11235 .elementor-element.elementor-element-697d6b9 .elementor-icon{font-size:73px;}.elementor-11235 .elementor-element.elementor-element-697d6b9 > .elementor-widget-container{margin:0px 0px 40px -22px;}.elementor-11235 .elementor-element.elementor-element-18b58b1{--spacer-size:22vh;}.elementor-11235 .elementor-element.elementor-element-e49dbff{--spacer-size:85px;}.elementor-11235 .elementor-element.elementor-element-124b060{font-size:6.3vw;letter-spacing:-2px;}.elementor-11235 .elementor-element.elementor-element-f3e42e2 img{width:100%;}.elementor-11235 .elementor-element.elementor-element-0adc47d{font-size:6.3vw;letter-spacing:-2px;}.elementor-11235 .elementor-element.elementor-element-fef2754{font-size:15px;letter-spacing:-1.1px;}.elementor-11235 .elementor-element.elementor-element-fef2754 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0% 0% 0% 0%;}.elementor-11235 .elementor-element.elementor-element-7e0ed0b{font-size:5vw;}.elementor-11235 .elementor-element.elementor-element-e3715d7{font-size:6vw;}.elementor-11235 .elementor-element.elementor-element-f1a8699{font-size:7vw;}.elementor-11235 .elementor-element.elementor-element-b8b47c7 .elementor-heading-title{font-size:0.6rem;line-height:1.8em;}.elementor-11235 .elementor-element.elementor-element-8e0f705 .elementor-heading-title{font-size:1rem;line-height:1.8em;}}/* Start custom CSS *//*======================================*/
/* General Page CSS PC Version */
/*======================================*/
html {
scroll-behavior : smooth;
max-width : 100%;
overflow-x : hidden;
overflow-y : visible;
margin-bottom: -10px;

}
.megab {
    font-size:106px;
}
body::-webkit-scrollbar {
width : 1em;
}
body::-webkit-scrollbar-track {
box-shadow : 0 0 6px rgb(0, 0, 0, 0.3) inset;
}
body::-webkit-scrollbar-thumb {
background-color : darkgrey;
outline : 1px solid black;
border-radius : 25px;
}
.breadcrumbsmain {
display : none;
}
/*======================================*/
/* Page Specific CSS PC Version */
/*======================================*/
.fixed {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: fixed;
    z-index: -1;
}
.arrowbutton {
    position: absolute;
    bottom: 0;
}

.glitchschedule {
  color: #f5d83c;
  letter-spacing: -2px;
    font-family: Inconsolata;
  text-shadow: 0px 0px 10px #F5D83C;
  font-size: 4.0rem;
  width: 15rem;
  position: relative; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.glitchschedule::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 1.5rem;
  color: rgba(226,212,140,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: -0.5rem 0 rgba(226,212,140,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 2s infinite linear alternate-reverse; }

.glitchschedule::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -3rem;
  color: rgba(95,202,110,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: 0.3rem 0 rgba(95,202,110,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 4s infinite linear alternate-reverse; }

.glitchflip {
  color: #f5d83c;
  letter-spacing: -2px;
    font-family: Inconsolata;
  text-shadow: 0px 0px 10px #F5D83C;
  font-size: 4.0rem;
  width: 35rem;
  position: relative; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  
}

.glitchflip::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 2.5rem;
  color: rgba(226,212,140,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: -0.5rem 0 rgba(226,212,140,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 2s infinite linear alternate-reverse; }

.glitchflip::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -2rem;
  color: rgba(95,202,110,0.4);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: 0.3rem 0 rgba(95,202,110,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 4s infinite linear alternate-reverse; }
.glitchhigh {
  color: #f5d83c;
  letter-spacing: -2px;
    font-family: Inconsolata;
  text-shadow: 0px 0px 10px #F5D83C;
  font-size: 4.0rem;
  width: 20rem;
  position: relative; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  
}

.glitchhigh::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 3.5rem;
  color: rgba(226,212,140,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: -0.5rem 0 rgba(226,212,140,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 2s infinite linear alternate-reverse; }

.glitchhigh::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -2rem;
  color: rgba(95,202,110,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: 0.3rem 0 rgba(95,202,110,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 4s infinite linear alternate-reverse; }
@keyframes noise {
  0% {
    clip: rect(10rem, 99.99rem, 5rem, 0); }
  3% {
    clip: rect(6rem, 99.99rem, 10rem, 0); }
  6% {
    clip: rect(10rem, 99.99rem, 2rem, 0); }
  11% {
    clip: rect(6rem, 99.99rem, 9rem, 0); }
  13% {
    clip: rect(4rem, 99.99rem, 5rem, 0); }
  20% {
    clip: rect(4rem, 99.99rem, 5rem, 0); }
  24% {
    clip: rect(10rem, 99.99rem, 4rem, 0); }
  27% {
    clip: rect(6rem, 99.99rem, 2rem, 0); }
  32% {
    clip: rect(10rem, 99.99rem, 9rem, 0); }
  36% {
    clip: rect(9rem, 99.99rem, 9rem, 0); }
  40% {
    clip: rect(3rem, 99.99rem, 7rem, 0); }
  41% {
    clip: rect(9rem, 99.99rem, 9rem, 0); }
  42% {
    clip: rect(6rem, 99.99rem, 8rem, 0); }
  52% {
    clip: rect(4rem, 99.99rem, 7rem, 0); }
  55% {
    clip: rect(4rem, 99.99rem, 5rem, 0); }
  60% {
    clip: rect(4rem, 99.99rem, 2rem, 0); }
  64% {
    clip: rect(2rem, 99.99rem, 2rem, 0); }
  68% {
    clip: rect(8rem, 99.99rem, 7rem, 0); }
  72% {
    clip: rect(9rem, 99.99rem, 5rem, 0); }
  74% {
    clip: rect(8rem, 99.99rem, 6rem, 0); }
  82% {
    clip: rect(2rem, 99.99rem, 5rem, 0); }
  84% {
    clip: rect(7rem, 99.99rem, 9rem, 0); }
  88% {
    clip: rect(6rem, 99.99rem, 7rem, 0); }
  92% {
    clip: rect(3rem, 99.99rem, 8rem, 0); }
  96% {
    clip: rect(10rem, 99.99rem, 4rem, 0); }
  100% {
    clip: rect(6rem, 99.99rem, 8rem, 0); } 
}
.glitchone {
  color: #dddfde;
  text-shadow: -1px -1px 8px #62886d, 1px 1px 8px #62886d,-1px -1px 8px #62886d, 1px 1px 8px #62886d,-1px -1px 8px #62886d, 1px 1px 8px #62886d,-1px -1px 8px #62886d, 1px 1px 8px #62886d;
  
  font-size: 6.0rem;
  width: 50rem;
  position: relative; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: "Times";
}

.glitchone::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 3rem;
  color: rgba(255,222,223,0.5);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: -0.5rem 0 rgba(255,222,223,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noiseone 2s infinite linear alternate-reverse; }

.glitchone::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -1rem;
  color: rgba(200,220,211,0.3);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: 0.3rem 0 rgba(255,222,223,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noiseone 4s infinite linear alternate-reverse; }

@keyframes noiseone {
  0% {
    clip: rect(10rem, 99.99rem, 5rem, 0); }
  4% {
    clip: rect(6rem, 99.99rem, 10rem, 0); }
  8% {
    clip: rect(10rem, 99.99rem, 2rem, 0); }
  12% {
    clip: rect(6rem, 99.99rem, 9rem, 0); }
  16% {
    clip: rect(4rem, 99.99rem, 8rem, 0); }
  20% {
    clip: rect(4rem, 99.99rem, 5rem, 0); }
  24% {
    clip: rect(10rem, 99.99rem, 4rem, 0); }
  28% {
    clip: rect(6rem, 99.99rem, 2rem, 0); }
  32% {
    clip: rect(10rem, 99.99rem, 9rem, 0); }
  36% {
    clip: rect(9rem, 99.99rem, 9rem, 0); }
  40% {
    clip: rect(3rem, 99.99rem, 7rem, 0); }
  44% {
    clip: rect(9rem, 99.99rem, 9rem, 0); }
  48% {
    clip: rect(6rem, 99.99rem, 8rem, 0); }
  52% {
    clip: rect(4rem, 99.99rem, 3rem, 0); }
  56% {
    clip: rect(4rem, 99.99rem, 5rem, 0); }
  60% {
    clip: rect(4rem, 99.99rem, 2rem, 0); }
  64% {
    clip: rect(2rem, 99.99rem, 8rem, 0); }
  68% {
    clip: rect(8rem, 99.99rem, 7rem, 0); }
  72% {
    clip: rect(9rem, 99.99rem, 5rem, 0); }
  76% {
    clip: rect(8rem, 99.99rem, 6rem, 0); }
  80% {
    clip: rect(2rem, 99.99rem, 5rem, 0); }
  84% {
    clip: rect(7rem, 99.99rem, 9rem, 0); }
  88% {
    clip: rect(6rem, 99.99rem, 7rem, 0); }
  92% {
    clip: rect(3rem, 99.99rem, 8rem, 0); }
  96% {
    clip: rect(10rem, 99.99rem, 8rem, 0); }
  100% {
    clip: rect(6rem, 99.99rem, 8rem, 0); } }

.textglow {
    text-shadow: -1px -1px 8px #62886d, 1px 1px 8px #62886d, -1px -1px 8px #62886d, 1px 1px 8px #62886d,-1px -1px 8px #62886d, 1px 1px 8px #62886d;
}


.blink {
    font-size:22px;
    vertical-align:text-top;
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 100;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
}

/*======================================*/
/* General Page CSS Tablet Version */
/*======================================*/
@media (min-width: 768px) and (max-width: 1024px){
html {
scroll-behavior : smooth;
overflow-x : hidden;
overflow-y : visible;
}
body::-webkit-scrollbar {
display:none;
}
body::-webkit-scrollbar-track {
box-shadow : 0 0 6px rgb(0, 0, 0, 0.3) inset;
}
body::-webkit-scrollbar-thumb {
background-color : darkgrey;
outline : 1px solid black;
border-radius : 15px;
}
/*======================================*/
/* Page Specific CSS Tablet Version */
/*======================================*/
.blink {
    font-size:18px;
    vertical-align:text-top;
  animation: blinker 1s step-start infinite;
}
.glitchschedule {
  color: #f5d83c;
  letter-spacing: -2px;
    font-family: Inconsolata;
  text-shadow: 0px 0px 10px #F5D83C;
  font-size: 3.0rem;
  width: 15rem;
  position: relative; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.glitchschedule::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 1.5rem;
  color: rgba(226,212,140,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: -0.5rem 0 rgba(226,212,140,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 2s infinite linear alternate-reverse; }

.glitchschedule::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -3rem;
  color: rgba(95,202,110,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: 0.3rem 0 rgba(95,202,110,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 4s infinite linear alternate-reverse; }

.glitchflip {
  color: #f5d83c;
  letter-spacing: -2px;
    font-family: Inconsolata;
  text-shadow: 0px 0px 10px #F5D83C;
  font-size: 3.0rem;
  width: 35rem;
  position: relative; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  
}

.glitchflip::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 2.5rem;
  color: rgba(226,212,140,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: -0.5rem 0 rgba(226,212,140,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 2s infinite linear alternate-reverse; }

.glitchflip::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -2rem;
  color: rgba(95,202,110,0.4);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: 0.3rem 0 rgba(95,202,110,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 4s infinite linear alternate-reverse; }
.glitchhigh {
  color: #f5d83c;
  letter-spacing: -2px;
    font-family: Inconsolata;
  text-shadow: 0px 0px 10px #F5D83C;
  font-size: 3.0rem;
  width: 20rem;
  position: relative; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  
}

.glitchhigh::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 3.5rem;
  color: rgba(226,212,140,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: -0.5rem 0 rgba(226,212,140,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 2s infinite linear alternate-reverse; }

.glitchhigh::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -2rem;
  color: rgba(95,202,110,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: 0.3rem 0 rgba(95,202,110,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 4s infinite linear alternate-reverse; }
  
  .glitchone {
  color: #dddfde;
  text-shadow: -1px -1px 8px #62886d, 1px 1px 8px #62886d,-1px -1px 8px #62886d, 1px 1px 8px #62886d,-1px -1px 8px #62886d, 1px 1px 8px #62886d,-1px -1px 8px #62886d, 1px 1px 8px #62886d;
  
  font-size: 4.0rem;
  width: 40rem;
  position: relative; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: "Times";
}

.glitchone::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 1rem;
  color: rgba(255,222,223,0.4);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: -0.5rem 0 rgba(255,222,223,0.4);
  clip: rect(0, 90rem, 0, 0);
  animation: noiseone 2s infinite linear alternate-reverse; }

.glitchone::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 2rem;
  color: rgba(200,220,211,0.4);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: 0.3rem 0 rgba(255,222,223,0.4);
  clip: rect(0, 90rem, 0, 0);
  animation: noiseone 4s infinite linear alternate-reverse; }
}
/*======================================*/
/* General Page CSS Mobile Version */
/*======================================*/
@media screen and (max-width: 756px) {
html, body {
overflow-x : hidden;
}
body {
position : relative;
overflow-x : hidden;
max-width : 100%;
}
body::-webkit-scrollbar {
display : none;
}
.scheduletable::-webkit-scrollbar {
width : 0;
}
/*======================================*/
/* Page Specific CSS Mobile Version */
/*======================================*/
.glitchschedule {
  color: #f5d83c;
  letter-spacing: -2px;
    font-family: Inconsolata;
  text-shadow: 0px 0px 10px #F5D83C;
  font-size: 2.5rem;
  width: 10rem;
  position: relative; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.glitchschedule::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 1.5rem;
  color: rgba(226,212,140,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: -0.5rem 0 rgba(226,212,140,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 2s infinite linear alternate-reverse; }

.glitchschedule::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -3rem;
  color: rgba(95,202,110,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: 0.3rem 0 rgba(95,202,110,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 4s infinite linear alternate-reverse; }

.glitchflip {
  color: #f5d83c;
  letter-spacing: -2px;
    font-family: Inconsolata;
  text-shadow: 0px 0px 10px #F5D83C;
  font-size: 2.5rem;
  width: 100%;
  position: relative; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  
}

.glitchflip::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 1.5rem;
  color: rgba(226,212,140,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: -0.5rem 0 rgba(226,212,140,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 2s infinite linear alternate-reverse; }

.glitchflip::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -1rem;
  color: rgba(95,202,110,0.4);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: 0.3rem 0 rgba(95,202,110,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 4s infinite linear alternate-reverse; }
.glitchhigh {
  color: #f5d83c;
  letter-spacing: -2px;
    font-family: Inconsolata;
  text-shadow: 0px 0px 10px #F5D83C;
  font-size: 3.0rem;
  width: 100%;
  position: relative; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  
}

.glitchhigh::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 3.5rem;
  color: rgba(226,212,140,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: -0.5rem 0 rgba(226,212,140,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 2s infinite linear alternate-reverse; }

.glitchhigh::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -2rem;
  color: rgba(95,202,110,0.2);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: 0.3rem 0 rgba(95,202,110,0.2);
  clip: rect(0, 90rem, 0, 0);
  animation: noise 4s infinite linear alternate-reverse; }
  
  .glitchone {
  color: #dddfde;
  text-shadow: -1px -1px 8px #62886d, 1px 1px 8px #62886d,-1px -1px 8px #62886d, 1px 1px 8px #62886d,-1px -1px 8px #62886d, 1px 1px 8px #62886d,-1px -1px 8px #62886d, 1px 1px 8px #62886d;
  
  font-size: 2.6rem;
  width: 100%;
  position: relative; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: "Times";
}

.glitchone::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -1rem;
  color: rgba(255,222,223,0.4);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: -0.5rem 0 rgba(255,222,223,0.4);
  clip: rect(0, 90rem, 0, 0);
  animation: noiseone 2s infinite linear alternate-reverse; }

.glitchone::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -2rem;
  color: rgba(200,220,211,0.4);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-shadow: 0.3rem 0 rgba(255,222,223,0.4);
  clip: rect(0, 90rem, 0, 0);
  animation: noiseone 4s infinite linear alternate-reverse; }
  .blink {
    font-size:15px;
    vertical-align:text-top;
  animation: blinker 1s step-start infinite;
}
}/* End custom CSS */
/*
     FILE ARCHIVED ON 07:56:23 Oct 30, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:44:15 Jun 03, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.522
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.01
  esindex: 0.01
  cdx.remote: 73.544
  LoadShardBlock: 482.558 (3)
  PetaboxLoader3.datanode: 148.443 (5)
  PetaboxLoader3.resolve: 354.903 (2)
  load_resource: 187.862
  loaddict: 77.079
*/