
/*
     FILE ARCHIVED ON 13:42:42 Nov 02, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:44:16 Jun 03, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 2.098
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 109.371
  LoadShardBlock: 331.127 (3)
  PetaboxLoader3.resolve: 541.547 (4)
  PetaboxLoader3.datanode: 190.807 (5)
  load_resource: 469.215 (2)
*/